#top{
  border-bottom: 1px solid black;
  text-align:center;
  padding: 20px;
  margin: 0
}

body{
  margin:0;
}

#list{
  border-right: 1px solid black;
  width: 150px;
  margin: 0;
  padding: 20px;
  line-height: 50px;

}
